## A description of the problem and a discussion of the background.

An individual wishes to move to London, however he has never lived in a large city before and wishes to live in a quieter borough of London. He is a freelance writer and likes to write in local coffee shops, thus it is important he lives in an area with lots of coffee shops to choose from. This project will be focus on helping to find the best borough of London for the individual to live in.

## A description of the data and how it will be used to solve the problem. 

In order to find data for this project, we will scrape data from the table on the webpage :https://en.wikipedia.org/wiki/List_of_London_boroughs. This contains information on all 32 london boroughs. For this project we are interested in the name, location, area and population of the borough. The location of each borough will allow us to make a Foursquare call to identify the number of coffeee shops in ecah borough. The size and population of each  borough will allow us to calculate the population density, this will be used to identify how busy the area is.

In [1]:
import pandas as pd
from pandas.io.html import read_html

First we scarpe the data and create a dataframe

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_London_boroughs'
wikipages = read_html(url , attrs = {'class' : 'wikitable'})

df = pd.DataFrame(wikipages[0] , columns=['Borough' , 'Co-ordinates' , 'Area (sq mi)' , 'Population (2013 est)[1]'])
df.head(32)

,Borough,Co-ordinates,Area (sq mi),Population (2013 est)[1]
0,Barking and Dagenham [note 1],51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E,13.93,194352
1,Barnet,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,33.49,369088
2,Bexley,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,23.38,236687
3,Brent,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,16.70,317264
4,Bromley,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,57.97,317899
5,Camden,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W,8.40,229719
6,Croydon,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W,33.41,372752
7,Ealing,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W,21.44,342494
8,Enfield,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W,31.74,320524
9,Greenwich [note 2],51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E,18.28,264008
10,Hackney,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W,7.36,257379
11,Hammersmith and Fulham [note 4],51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W,6.33,178685
12,Haringey,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W,11.42,263386
13,Harrow,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W,19.49,243372
14,Havering,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E,43.35,242080
15,Hillingdon,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W,44.67,286806
16,Hounslow,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W,21.61,262407
17,Islington,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W,5.74,215667
18,Kensington and Chelsea,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W,4.68,155594
19,Kingston upon Thames,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W,14.38,166793
20,Lambeth,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W,10.36,314242
21,Lewisham,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W,13.57,286180
22,Merton,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W,14.52,203223
23,Newham,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E,13.98,318227
24,Redbridge,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E,21.78,288272
25,Richmond upon Thames,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W,22.17,191365
26,Southwark,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W,11.14,298464
27,Sutton,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W,16.93,195914
28,Tower Hamlets,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W,7.63,272890
29,Waltham Forest,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W,14.99,265797
30,Wandsworth,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W,13.23,310516
31,Westminster,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W,8.29,226841